.DS_Store
vmpack/WinLicense/*
vendor/base/*
vendor/darwin/extend/*
vendor/win32/extend/*
dist/electron/*
dist/web/*
build/*
!build/icons
node_modules/
npm-debug.log
npm-debug.log.*
thumbs.db
yarn-error.log
!.gitkeep

